<div class="container-general flex flex-col justify-center gap-4">
  @for (stori of successStories?.stories; track $index) { @if
  (isIndexVisible($index,indexPage,5)){
  <mat-card appearance="outlined">
    <mat-card-content
      ><span class="text-lg">
        {{ stori.titule }}
      </span></mat-card-content
    >
    @if (stori.urlVideo?.length) {
    <div class="video-general p-2">
      @if (mobile) {
      <div class="video-container w-full">
        <iframe
          [src]="stori.urlRes"
          title="Nuvole Bianche - Ludovico Einaudi (Paola Shiadani)"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>

      } @else {
      <div>
        <iframe
          [width]="width"
          [height]="height"
          [src]="stori.urlRes"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      }
    </div>
    } @else {
    <div>
      <img [src]="stori.urlImg" class="h-[250px] md:h-[400px] m-auto" alt="" />
    </div>
    }

    <mat-card-content>
      <p class="text-sm">
        {{ stori.textBody }}
      </p>
    </mat-card-content>
  </mat-card>
  } }

  <mat-paginator
    [length]="successStories?.stories?.length"
    [pageSize]="5"
    (page)="scrollToTopAndNewIndex($event.pageIndex)"
  >
    >
  </mat-paginator>
</div>
