@if (load) {

<div class="container-general flex flex-col justify-center gap-4">
  <div class="flex flex-row-reverse">
    <app-select-general
      class="w-full flex flex-row-reverse"
      [formControlGeneral]="formFilters"
      [arrayData]="filter"
      [placeholder]="'filter'"
    ></app-select-general>
  </div>

  @for (video of videsoArrayFilter; track $index) { @if
  (isIndexVisible($index,indexPage,5)){
  <mat-card appearance="outlined">
    <mat-card-content
      ><span class="text-lg">
        {{ video.titule }}
      </span></mat-card-content
    >
    <div class="video-general p-2">
      @if (mobile) {
      <div class="video-container w-full">
        <iframe
          [src]="video.urlRes"
          title="Nuvole Bianche - Ludovico Einaudi (Paola Shiadani)"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>

      } @else {
      <div>
        <iframe
          [width]="width"
          [height]="height"
          [src]="video.urlRes"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      }
    </div>
    <mat-card-content>
      <p class="text-sm">
        {{ video.description }}
      </p>
    </mat-card-content>
  </mat-card>
  } }

  <mat-paginator
    [length]="videsoArrayFilter.length"
    [pageSize]="5"
    (page)="scrollToTopAndNewIndex($event.pageIndex)"
    [pageIndex]="indexPage"
  >
    >
  </mat-paginator>
</div>
}
