<div class="container-general flex flex-col justify-center gap-4">
  <mat-card appearance="outlined">
    <mat-card-content
      ><span class="text-lg">
        {{ pianoLessons?.titule }}
      </span></mat-card-content
    >
    <img
      class="h-[200px] md:h-[500px] object-cover p-2"
      mat-card-image
      [src]="pianoLessons?.urlProfileImg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p class="text-sm">
        {{ pianoLessons?.textBody ?? "" }}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-accordion>
    @for (syllabu of pianoLessons?.syllabus; track $index) {

    <mat-expansion-panel class="!bg-[#e3fffe]">
      <mat-expansion-panel-header class="!bg-[#e3fffe]">
        <mat-panel-title class="!bg-[#e3fffe]" class="text-base">
          {{ syllabu.topicName }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      @for (topic of syllabu.topicBody; track $index) { @if
      (topic.subtopicTilule.length) {

      <p class="text-sm py-3">
        {{ topic.subtopicTilule }}
      </p>
      }

      <p class="text-sm">
        {{ topic.subtopicText }}
      </p>
      }
    </mat-expansion-panel>

    }
  </mat-accordion>
</div>
