<div class="container-general flex flex-col justify-center gap-4">
  <div class="video-general">
    @if (mobile) {
    <div class="video-container w-full">
      <iframe
        #videoPlayer
        src="https://www.youtube.com/embed/FyEKfQiY7_g"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    } @else {
    <div>
      <iframe
        [width]="width"
        [height]="height"
        #videoPlayer
        src="https://www.youtube.com/embed/FyEKfQiY7_g"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      ></iframe>
    </div>
    }
  </div>

  <mat-card appearance="outlined">
    <mat-card-content
      ><span class="text-lg text-center items-center flex justify-center">
        ¿Quieres aprender a tocar piano o conoces a alguien que le gustaría?
      </span></mat-card-content
    >
    <div class="p-4 sm:p-8 flex flex-col">
      <div class="flex flex-col justify-center gap-4 items-center">
        <p>
          <mat-icon>
            <img src="../../assets/images/icons8-piano-50.png" alt="" />
          </mat-icon>
          Clases de piano personalizadas.
        </p>
        <p>
          <mat-icon>
            <img src="../../assets/images/icons8-practice-64.png" alt="" />
          </mat-icon>
          Todas las edades y niveles.
        </p>
        <p>
          <mat-icon>
            <img src="../../assets/images/icons8-wifi-24.png" alt="" />
          </mat-icon>
          Online o Presencial
        </p>
        <p class="underline text-base">Contacto Profesora Paola:</p>

        <a
          class="!bg-[#25d366] !w-[250px]"
          mat-fab
          extended
          href="https://wa.me/5527743092?text=¡Hola!%20Estoy%20interesado%20en%20tomar%20clases%20de%20piano%20y%20me%20gustaría%20saber%20más%20sobre%20disponibilidad,%20horarios%20y%20precios.%20¿Podrías%20proporcionarme%20esta%20información,%20por%20favor?%20¡Gracias!"
          target="_blank"
        >
          <mat-icon>
            <img src="../../assets/images/icons8-whatsapp-30.png" alt="" />
          </mat-icon>
          (+52) 5527743092</a
        >

        <a
          mat-fab
          extended
          href="https://www.superprof.mx/quieres-aprender-tocar-tus-melodias-favoritas-clases-piano-personalizadas-todas-las-edades-horarios-disponibles-solo.html"
          target="_blank"
          >Link a mi anuncio de clases</a
        >
      </div>
      <div class="social-media gap-4 flex flex-col items-center">
        <h2>Redes sociales:</h2>
        <a
          href="https://youtube.com/@paolashiadani1046?si=hbc8hLI_4qryrebS"
          target="_blank"
          mat-fab
          extended
          class="flex items-center justify-center !bg-[#FF0000] !text-white !w-[250px]"
        >
          <mat-icon>
            <img
              src="../../assets/images/icons8-youtube-24.png"
              alt="YouTube"
            />
          </mat-icon>
          YouTube
        </a>

        <a
          href="https://www.facebook.com/profile.php?id=100005557006169&mibextid=ZbWKwL"
          target="_blank"
          mat-fab
          extended
          class="!bg-[#1877F2] !text-white !w-[250px]"
        >
          <mat-icon>
            <img
              src="../../assets/images/icons8-facebook-nuevo-24.png"
              alt="Facebook"
            />
          </mat-icon>
          Facebook
        </a>

        <a
          href="https://www.instagram.com/paola_shiadani?igsh=aHZocTRyOXpyYTI1"
          target="_blank"
          mat-fab
          extended
          class="flex items-center justify-center !bg-[#5B51D8] !text-white !w-[250px]"
        >
          <mat-icon>
            <img
              src="../../assets/images/icons8-instagram-24.png"
              alt="Instagram"
            />
          </mat-icon>
          Instagram
        </a>
      </div>
    </div>
  </mat-card>
</div>
