<div class="h-0 w-0">
  <div class="background-general">
    <p class="text-end text-xs">vB-1.0.0</p>
  </div>
</div>
<div [class.margin-top]="mobile">
  <mat-tab-group (selectedIndexChange)="onTabChange($event)" color="primary">
    <mat-tab [label]="profileData?.ModulName ?? ''">
      <app-quien-soy [profileData]="profileData"></app-quien-soy>
    </mat-tab>
    <mat-tab [label]="pianoLessons?.moduleName ?? ''">
      <app-clases-piano [pianoLessons]="pianoLessons"></app-clases-piano>
    </mat-tab>
    <mat-tab [label]="successStories?.moduleName ?? ''">
      <app-testimonios [successStories]="successStories"></app-testimonios>
    </mat-tab>
    <mat-tab [label]="promotional?.moduleName ?? ''">
      <app-promocionales [promotional]="promotional"></app-promocionales>
    </mat-tab>
  </mat-tab-group>
</div>
