.background-general {
  height: 100vh;
  width: 100%;
  background: url("../assets/images/webpc-passthru.webp") no-repeat center
    center fixed;
  background-size: cover;
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  top: 0px;
}
