<div class="h-0 w-0">
  <div class="background-general"></div>
</div>
<div [class.margin-top]="mobile">
  <mat-tab-group (selectedIndexChange)="onTabChange($event)" color="primary">
    <mat-tab label="Acerca De Mi">
      <app-quien-soy></app-quien-soy>
    </mat-tab>
    <mat-tab label="Clases de piano">
      <app-clases-piano></app-clases-piano>
    </mat-tab>
    <mat-tab label="Testimonios"> <app-testimonios></app-testimonios> </mat-tab>
    <mat-tab label="Videos promocionales">
      <app-promocionales></app-promocionales>
    </mat-tab>
  </mat-tab-group>
</div>
