@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@include mat.core();

$wine: #800020;
$crimson: #dc143c;
$gold: #f5c700;
$ebony: #0c0c0c;
$pearl: #fdfdfd;
$silver: #c0c0c0;
$navy: #000080;
$paola-primary: mat.define-palette(mat.$amber-palette, 100, A200, A700);
$paola-accent: mat.define-palette(mat.$pink-palette, 100, A200, A700);
$custom-warn: mat.define-palette(mat.$red-palette, 100, A200, A700);
$paola-primary-custom: mat.define-palette(
  (
    50: #fff8e1,
    100: #ffecb3,
    200: #ffe082,
    300: #ffd54f,
    400: #ffca28,
    500: $gold,
    600: #fbc02d,
    700: #f9a825,
    800: #f57f17,
    900: #f57f17,
    A100: #ffff8d,
    A200: #ffff00,
    A400: #ffea00,
    A700: #ffd600,
    contrast: (
      50: $ebony,
      100: $ebony,
      200: $ebony,
      300: $ebony,
      400: $pearl,
      500: $pearl,
      600: $pearl,
      700: $pearl,
      800: $pearl,
      900: $pearl,
      A100: $ebony,
      A200: $ebony,
      A400: $ebony,
      A700: $ebony,
    ),
  )
);

$paola-accent-custom: mat.define-palette(
  (
    50: #fff8e1,
    100: #ffecb3,
    200: #ffe082,
    300: #ffd54f,
    400: #ffca28,
    500: $gold,
    600: #fbc02d,
    700: #f9a825,
    800: #f57f17,
    900: #f57f17,
    A100: #ffff8d,
    A200: #ffff00,
    A400: #ffea00,
    A700: #ffd600,
    contrast: (
      50: $ebony,
      100: $ebony,
      200: $ebony,
      300: $ebony,
      400: $pearl,
      500: $pearl,
      600: $pearl,
      700: $pearl,
      800: $pearl,
      900: $pearl,
      A100: $ebony,
      A200: $ebony,
      A400: $ebony,
      A700: $ebony,
    ),
  )
);

$paola-shiadani-pianista-theme: mat.define-light-theme(
  (
    color: (
      primary: $paola-primary,
      accent: $paola-accent,
      warn: $paola-primary,
    ),
    typography: mat.define-typography-config(),
  )
);

@include mat.all-component-themes($paola-shiadani-pianista-theme);

html,
body {
  height: 100%;
}

body {
  display: block;
  margin: 0;
  font-family: "Bodoni Moda SC", serif !important;
  span {
    font-family: "Bodoni Moda SC", serif;
  }
  p {
    font-family: "Bodoni Moda SC", serif;
  }
}
.container-general {
  margin: 32px;
  background: azure;
  padding: 32px;
  border-radius: 10px;
  // opacity: 0.9;

  @media (max-width: 600px) {
    margin: 16px;
    padding: 16px;
  }
}

.border-shadow-vino {
  box-shadow: 6px 4px 0px 0px rgba(128, 0, 32, 0.3);
}
