.mat-mdc-tab-header {
  margin: 16px;
  border-radius: 16px;
}

.mat-mdc-card-outlined {
  background: #ffffff00 !important;
}
/* .mat-mdc-tab.mdc-tab--active:hover .mdc-tab__text-label {
  @apply !text-gold;
  color: antiquewhite !important;
} */
/* .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  @apply !text-gold-custom;
}

.mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: #f5c700 !important;
} */

.mat-mdc-paginator {
  @apply !bg-[#e3fffe] shadow-md;

  border-radius: 10px !important;
}
